beautifulsoup4==4.12.3
bleak==0.22.2
bleak-winrt==1.2.0
bluedot==2.0.0
bluepy3==2.12.1
bs4==0.0.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
future==1.0.0
idna==3.7
iso8601==2.1.0
lxml==5.2.2
pycparser==2.22
pydbus==0.6.0
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.2.1
PyYAML==6.0.1
requests==2.32.3
serial==0.0.97
soupsieve==2.5
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
